.grid-container{
    display: grid;
    text-align: center;
    justify-items: center;
}
.heading {
    margin-top: 10vh;
    margin-bottom: 3vh;
}
.seperator {
    margin-bottom: 4vh;
}

.form-category {
    display: flex;
}
.submit-category{
    margin-left: 2vw;
}