.grid-container{
    display: grid;
    text-align: center;
    margin-left: 20vw;
    margin-right: 20vw;
    justify-items: center;
}

.heading{
    margin-top: 10vh;
}

.form-post-gas{
    display: flex;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.input-gcon{
    width: 20vw;
    height: 5vh;
    font-size: 1.2rem;
    margin-right: 2vw;
}

.footer{
    margin-top: 70vh;
}

@media only screen and (max-width: 1000px) {
    .input-gcon{
        font-size: 1rem;
        width: 25vw;
    }
    .button{
        font-size: 1rem !important;
        width: 15vw;
    }
}